@page
@using ShoppingCart.Models
@model IndexModel
@{
    ViewData["Title"] = "CICD Home page";
}
<section>
    <div class="card-header">
        Shopping Cart-deployed by git workflows - DWC made this change 2/9/22 at 10:02
    </div>
</section>
<section>&nbsp;</section>
<section>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Available Items
                </div>
                <div class="card-body">
                    <div class="row">
                        <ul class="list-group">
                            @foreach (Item i in Model.Items)
                            {
                            <li class="list-group-item">
                                <form method="post" asp-page-handler="AddItem">
                                    <div class="form-group">
                                        <input type="submit" value="@i.Description" class="btn btn-primary" />
                                        <input type="hidden" asp-for="@Model.cart.Selected" value="@i.Description" />
                                        <input type="hidden" asp-for="@Model.cart.SelectedList" value="@Model.cart.SelectedList@i.Description" />
                                    </div>
                                </form>
                               @{string bulk = "1 for $" + i.Price.ToString();} 
                                @if (i.BulkCount > 0)
                                {
                                     bulk += " or " + i.BulkCount.ToString() + " for $" + i.BulkPrice.ToString();
                                }
                                <span>@bulk</span>
                            </li>
                            }
                        </ul>
                    </div>

                </div>
                <div class="card-footer">
                   <br />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Total-$@Model.cart.Total</div>
                <div class="card-body">
                    <div class="row">
                        Items
                        <ul>
                            @{List<string> types = new List<string>() { "A", "B", "C", "D" };
                                string[] previous = Model.cart.SelectedList.Split("|");
                            }

                            @foreach (string type in types)
                            {
                                var tmp = previous.Where(m => m == type);
                                <li>@type - Quantity= @tmp.Count().ToString()</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="card-footer">

                    <form method="post" asp-page-handler="EmptyCart">
                        <div class="form-group">
                            <input type="submit" value="Empty Cart" class="btn btn-primary" />
                            <input type="hidden" asp-for="@Model.cart.SelectedList"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

